.clickable {
  cursor: pointer;
}

.chosen-digits {
  color: red;
  font-weight: bold;
}

.margin-top {
  margin-top: 24px;
}

.digits {
  margin-bottom: 24px;
  word-break: break-all;
  line-height: 1em;
}
