header {
  background-color: var(--cds-global-color-blue-1000);

  a {
    margin-right: 24px;
    color: var(--cds-global-color-gray-0);
  }
}

.home-page {
  @import "./components/Home.scss";
}

.about-page {
  @import "./components/About.scss";
}
